.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  padding: 0 1.8rem;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
